# Secrets

.env
authorized_keys

# For testing

server.env
test
composes/config
composes/homebridge

# Configs

configs/homepage/logs
configs/plex/*
!configs/plex/.gitkeep
configs/transmission/*
!configs/transmission/settings.json
.gitsecret/keys/random_seed
!*.secret
configs/nginx/logs
configs/nginx/letsencrypt*
configs/nginx/custom_ssl
configs/nginx/keys.json
