# Secrets

.env
authorized_keys

# For testing

server.env
test
composes/config
composes/homebridge

# Configs

configs/homepage/logs
configs/plex/*
!configs/plex/.gitkeep
configs/transmission/*
!configs/transmission/settings.json